html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    /* background-color: #33353b; */
    background-color: #000;
    color: #ddd;
}

.menu {
    /* background-color: #2b2e33; */
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 150px;
}

header .logo {
    width: 7vw;
    height: auto;
    margin: 10px;
}

header h1 {
    color: #15c2f2;
    font-size: 28px;
}

nav a {
    color: #ddd;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

nav a:hover {
    color: #15c2f2;
}

.hero {
    background: url('./imgs/image.png') no-repeat center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 40px;
    color: white;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #15c2f2;
    border: 2px solid #15c2f2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

.btn:hover {
    border: 2px solid #15c2f2;
    color: #fff;
}

.section {
    padding: 150px 30px 150px 30px;
    width: 100%;
    height: 100vh;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 250px);
    width: 100%;
    /* background-color: #2b2e33; */
    background-color: #000;
    padding-bottom: 30px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.card-header {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h3 {
    color: #15c2f2;
}

.card p {
    font-size: 14px;
    color: #bbb;
}

.contact {
    display: flex;
    flex-direction: column;
}

.map {
    flex: 1;
    width: 100%;
}

.map-frame {
    width: 100%; /* O contêiner ocupa toda a largura disponível */
    max-width: 600px; /* Define uma largura máxima */
    margin: 0 auto; /* Centraliza o contêiner */
    overflow: hidden; /* Garante que nada ultrapasse os limites */
}

.map-frame iframe {
    width: 100%; /* O iframe se ajusta à largura do contêiner */
    height: 400px; /* Define uma altura fixa */
    border: 0; /* Remove a borda padrão */
}

footer {
    text-align: center;
    background-color: #1a1a1a;
    height: 50px;
    color: #777;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    
}

.galery-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.galery-item {
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (orientation: portrait) {
    header {
        position: static;
    }
    
    header .logo {
        width: 80px;
        height: auto;
        margin: 10px;
    }

    .section {
        padding-top: 150px;
        min-height: 100vh;
        height: auto;
    }

    .map-frame iframe {
        height: 300px; /* Reduz a altura em telas pequenas */
    }

    .card {
        height: calc(100vh - 250px);
        width: 100%;
        padding-bottom: 100px;
    }

    .card-img {
        width: 60vw;
        height: auto;
    }  
    
    .sub-menu {
        justify-content: flex-start;
        padding: 0px 10px;
    }

    .sub-menu nav {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }

    .sub-menu nav::-webkit-scrollbar {
        display: none;
    }
}

.sub-menu {
    display: flex;
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
    background-color: #33353b;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

.catalog-card {
    background-color: #33353b; 
    border-radius: 5px; 
    padding: 5px; 
    margin: 5px; 
    min-height: 250px; 
    display: flex; 
    flex-direction: column;
}

.catalog-card .catalog-card-body {
    height: 200px;
}

.catalog-card .btn {
    bottom: 0; 
    margin: 5px
}