header .logo {
    width: 150px;
    height: auto;
    margin: 10px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    /* background-color: #33353b; */
    background-color: #000;
    color: #ddd;
}

header {
    /* background-color: #2b2e33; */
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

header h1 {
    color: #15c2f2;
    font-size: 28px;
}

nav a {
    color: #ddd;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

nav a:hover {
    color: #15c2f2;
}

.hero {
    background: url('./imgs/image.png') no-repeat center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 40px;
    color: white;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #15c2f2;
    border: 2px solid #15c2f2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

.btn:hover {
    border: 2px solid #15c2f2;
    color: #fff;
}

.section {
    padding: 40px;
    width: 100%;
    height: 100vh;
    padding-top: 160px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 250px);
    width: 100%;
    /* background-color: #2b2e33; */
    background-color: #000;
    padding-bottom: 30px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.card-header {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h3 {
    color: #15c2f2;
}

.card p {
    font-size: 14px;
    color: #bbb;
}

.contact {
    display: flex;
    flex-direction: column;
}

.map {
    flex: 1;
    width: 100%;
}

.map-frame {
    width: 100%;
    height: auto;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    color: #777;
}

.galery-item img {
    max-width: 100%; /* Garante que a largura da imagem não ultrapasse o contêiner */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaços extras ao redor da imagem */
    margin: 0 auto; /* Centraliza a imagem dentro do contêiner */
    padding: 20px;
}

.galery-item {
    max-width: 300px; /* Define um tamanho máximo para o contêiner */
    margin: 0 auto; /* Centraliza o contêiner */
    overflow: hidden; /* Garante que nada ultrapasse o contêiner */
}

.card-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}